NODERED/FLOW.txt
[{"id":"e33761a2.b50d5","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"mydb","name":"mydb"},{"id":"be62ea6b.40b018","type":"http in","z":"9bef377.4ebedc8","name":"","url":"/IRSend","method":"get","swaggerDoc":"","x":172.66665649414062,"y":161.66665649414062,"wires":[["3ec86da2.9fc242"]]},{"id":"b258abfc.03a068","type":"function","z":"9bef377.4ebedc8","name":"send IR","func":"payload={};\npayload.IR_DATA = msg.payload[0].IR_DATA;\npayload.IR_L    = msg.payload[0].IR_L;\npayload.IR_P    = msg.payload[0].IR_P;\npayload.IR_HEX  = msg.payload[0].IR_HEX;\nmsg.payload=payload;\nmsg.topic=msg.irdevice+\"/IR/send\"\nreturn msg;","outputs":1,"noerr":0,"x":986.6665344238281,"y":130.6666488647461,"wires":[["9fa65b29.ec8e68"]]},{"id":"9fa65b29.ec8e68","type":"mqtt out","z":"9bef377.4ebedc8","name":"","topic":"","qos":"","retain":"","broker":"","x":1269.6665344238281,"y":129.6666259765625,"wires":[]},{"id":"927dfb38.47b018","type":"comment","z":"9bef377.4ebedc8","name":"Send IR from HEXCODE","info":"","x":213.33334350585938,"y":116.33330535888672,"wires":[]},{"id":"6723e24.55ced1c","type":"function","z":"9bef377.4ebedc8","name":"Store IR device and Prep Query","func":"payload = JSON.parse(msg.payload);\nmsg.irdevice=payload.irDevice;\nmsg.collection=payload.irCode;\nmsg.payload=\"db.collection.find()\";\nreturn msg;","outputs":1,"noerr":0,"x":515.3332824707031,"y":162.33328247070312,"wires":[["acac04d1.c82778"]]},{"id":"a0787fa5.49df6","type":"http response","z":"9bef377.4ebedc8","name":"","x":1270.3331604003906,"y":183.33319854736328,"wires":[]},{"id":"7bc9738.59a518c","type":"function","z":"9bef377.4ebedc8","name":"httpOutput","func":"msg.text=JSON.parse(msg.payload);\nmsg.payload = \"collection : '\"+msg.collection+\"' on irdevice :'\"+msg.irdevice+\"' : '\"+msg.text[0].IR_DATA+\"' '\"+msg.text[0].IR_P+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1122.1039123535156,"y":183.1109848022461,"wires":[["a0787fa5.49df6"]]},{"id":"39f6b8a0.e2ffc8","type":"mqtt in","z":"9bef377.4ebedc8","name":"","topic":"F36B70/IR/get","broker":"","x":187.33328247070312,"y":269.3332748413086,"wires":[["b0f95813.b6b028"]]},{"id":"d519d33.c42593","type":"mongodb out","z":"9bef377.4ebedc8","service":"_ext_","mongodb":"e33761a2.b50d5","name":"Update IR Database","collection":"","payonly":true,"upsert":true,"multi":false,"operation":"update","x":771.3330993652344,"y":267.333251953125,"wires":[]},{"id":"1281bf74.b86441","type":"function","z":"9bef377.4ebedc8","name":"Store IR to MongoDB","func":"msg.collection=msg.payload.IR_HEX;\nreturn msg;","outputs":1,"noerr":0,"x":540.33349609375,"y":268.3332977294922,"wires":[["d519d33.c42593"]]},{"id":"acac04d1.c82778","type":"mongodb in","z":"9bef377.4ebedc8","service":"_ext_","mongodb":"e33761a2.b50d5","name":"Query IR Database","collection":"","operation":"find","x":764.6664123535156,"y":163.00001525878906,"wires":[["b258abfc.03a068","e85e8de5.f8d2f"]]},{"id":"b0f95813.b6b028","type":"json","z":"9bef377.4ebedc8","name":"","x":353.3333435058594,"y":269.33326721191406,"wires":[["1281bf74.b86441"]]},{"id":"cbf68f70.730df","type":"comment","z":"9bef377.4ebedc8","name":"For IR Create Database of IR code","info":"","x":244.33334350585938,"y":219.33328247070312,"wires":[]},{"id":"df326b87.ead778","type":"mqtt in","z":"9bef377.4ebedc8","name":"","topic":"F36B70/IR/send","broker":"","x":186.33331298828125,"y":329.3332824707031,"wires":[["67e9b2b4.5fb4cc"]]},{"id":"67e9b2b4.5fb4cc","type":"debug","z":"9bef377.4ebedc8","name":"","active":false,"console":"false","complete":"true","x":354.16668701171875,"y":329.3332977294922,"wires":[]},{"id":"3ec86da2.9fc242","type":"json","z":"9bef377.4ebedc8","name":"","x":313.5000305175781,"y":161.3333282470703,"wires":[["6723e24.55ced1c"]]},{"id":"e85e8de5.f8d2f","type":"json","z":"9bef377.4ebedc8","name":"","x":974.5000305175781,"y":182.3332748413086,"wires":[["7bc9738.59a518c"]]}]